.logo {
  font-family: "Raleway";
  @include fontAll(700, 24px, 1.17, 0.03em);
  color: #000000;
  @media screen and (min-width: $desktop) {
    @include font-sh(26px, 1.19);
  }

  &__text {
    color: $accent-color;
  }

  &--top {
    @media screen and (max-width: $tablet - 1px) {
      padding: 16px 0;
    }
    @media screen and (min-width: $tablet) {
      margin-right: 88px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 93px;
    }
  }

  &--bottom {
    display: block;
    margin-bottom: 20px;
    color: $white-color;
  }
}
