.hero {
  min-height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 118px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title-container {
    width: 360px;
    margin: 0 auto 30px;
  }

  &__title {
    @include fontAll(900, 26px, 1.62, 0.06em);
    text-transform: uppercase;
    color: $white-color;
  }

  &__button {
    padding: 10px 32px;
  }
}
