.hero {
  height: 400px;
  width: 480px;
  margin: 0 auto;
  padding-top: 118px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../../images/mobile-hero/mobile-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../../images/mobile-hero/mobile-hero@2x.jpg");
    }
  }
  @media screen and (min-width: $desktop) {
    padding-top: 200px;
  }

  &__title-container {
    max-width: 360px;
    margin: 0 auto 30px;
    @media screen and (min-width: $desktop) {
      max-width: 696px;
    }
  }

  &__title {
    @include fontAll(900, 26px, 1.62, 0.06em);
    text-transform: uppercase;
    color: $white-color;
    @media screen and (min-width: $desktop) {
      @include font-sh(44px, 1.36);
    }
  }

  &__button {
    padding: 10px 32px;
  }
}
