.social-list {
  @extend %flex;

  &--bottom {
    padding-bottom: 24px;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.social-link {
  @extend %flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $social-link-color;
  background-color: transparent;
  @include transition(fill, background-color);

  &__icon {
    width: 20px;
    height: 20px;
  }

  &:hover,
  &:focus {
    fill: $white-color;
    background-color: $accent-color;
  }

  &--dark {
    fill: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
