$font-logo: 'Raleway';
$font-main: 'Roboto';

$accent-color: #2196f3;
$white-color: #ffffff;
$text-color: #757575;
$heading-color: #212121;
$light-background-color: #f5f4fa;
$dark-background-color: #2f303a;
$social-link-color: #afb1b8;

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$changes: $transition-duration $transition-timing-function;